[submodule "zsh/pure"]
	path = zsh/pure
	url = git@github.com:estoner/pure.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
